# Ignore log files
*.log
npm-debug.log*
yarn.lock*
yarn.lock
yarn-error.log*
package-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore directories and files


logs/
node_modules/
src/config/index.js
*.local
# dist

# Ignore editor-specific files and directories
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
!/.vscode/extensions.json



# maruf practice ==========================================
.marufBellah